@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Nunito:wght@300&family=Poppins:wght@300&family=Roboto:wght@300&family=Tilt+Neon&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* nav */

.navbar {
    background-color: black;
    display: grid;
    grid-template-columns: 20% auto;
    height: 50px;
    align-items: center;
}

.navbar .logo {
    color: #fff;
    font-family: fantasy;
    margin-left: 20px;
    font-size: 30px;
}

.navbar ul {
    display: flex;
    justify-content: space-around;
}

.navbar a {
    text-decoration: none;
    color: #fff;
}

/* footer */

